[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pandas-profiling = "*"
ipywidgets = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*

[dev-packages]
notebook = "*"

[requires]
python_version = "3.10"